In [1]:
import pandas as pd

df = pd.read_csv('test-accuracies-cmsis.csv')
df.describe()

        0.717667
count  22.000000
mean    0.674470
std     0.059973
min     0.566667
25%     0.631833
50%     0.687167
75%     0.724083
max     0.770667

In [9]:
df = pd.read_csv('Acc32x24-3classes-100-samples.csv')
df.describe()

        0.824000
count  17.000000
mean    0.763922
std     0.062857
min     0.657333
25%     0.716000
50%     0.759333
75%     0.797667
max     0.872667

In [12]:
df = pd.read_csv('Acc32x24-3classes-200-samples.csv')
df.describe()

        0.858000
count  49.000000
mean    0.790544
std     0.070905
min     0.622333
25%     0.753333
50%     0.801333
75%     0.844333
max     0.891667

In [13]:
df = pd.read_csv('Acc32x24-3classes-300-samples.csv')
df.describe()

       0.641333
count  8.000000
mean   0.824875
std    0.062651
min    0.710000
25%    0.795167
50%    0.835500
75%    0.864500
max    0.897333

In [ ]:
df = pd.read_csv('Acc32x24-3classes-400-samples.csv')
df.describe()

In [ ]:
df = pd.read_csv('Acc-32x32-100-samples.csv')
df.describe()

In [ ]:
df = pd.read_csv('Acc-3classes-200-samples.csv')
df.describe()

In [ ]:
df = pd.read_csv('Acc-3classes-300-samples.csv')
df.describe()

In [ ]:
df = pd.read_csv('Acc-3classes-400-samples.csv')
df.describe()

In [ ]:
df = pd.read_csv('Acc-3classes-500-samples.csv')
df.describe()

In [ ]:
df = pd.read_csv('Acc-3classes-600-samples.csv')
df.describe()