In [1]:
import pandas as pd

# df = pd.read_csv('test-accuracies-cmsis.csv')
# df.describe()

        0.591502
count  19.000000
mean    0.747983
std     0.087973
min     0.582085
25%     0.687431
50%     0.779118
75%     0.816542
max     0.865048

In [19]:
df = pd.read_csv('Acc32x32-3classes-200-samples.csv')
df.describe()

        0.933590
count  29.000000
mean    0.796781
std     0.107343
min     0.558356
25%     0.752696
50%     0.805828
75%     0.884075
max     0.942308

In [15]:
df = pd.read_csv('Acc32x32-3classes-300-samples.csv')
df.describe()

        0.786015
count  29.000000
mean    0.813136
std     0.113656
min     0.580257
25%     0.751336
50%     0.812819
75%     0.891923
max     0.982306

In [16]:
df = pd.read_csv('Acc32x32-3classes-400-samples.csv')
df.describe()

        0.752495
count  20.000000
mean    0.809210
std     0.116677
min     0.599883
25%     0.760682
50%     0.832309
75%     0.895965
max     0.948128

In [17]:
df = pd.read_csv('Acc32x32-3classes-500-samples.csv')
df.describe()

        0.813595
count  19.000000
mean    0.818550
std     0.109766
min     0.563329
25%     0.783494
50%     0.813412
75%     0.872563
max     0.978389

In [18]:
df = pd.read_csv('Acc32x32-3classes-600-samples.csv')
df.describe()

FileNotFoundError: [Errno 2] File Acc32x32-3classes-600-samples.csv does not exist: 'Acc32x32-3classes-600-samples.csv'

In [20]:
df = pd.read_csv('Accx24-3classes-100-samples.csv')
df.describe()

        0.617505
count  26.000000
mean    0.780683
std     0.104347
min     0.611546
25%     0.715573
50%     0.762611
75%     0.839828
max     0.969168

In [22]:
df = pd.read_csv('Accx24-3classes-200-samples.csv')
df.describe()

        0.623397
count  24.000000
mean    0.795706
std     0.077534
min     0.700997
25%     0.736160
50%     0.773293
75%     0.819555
max     0.978050

In [23]:
df = pd.read_csv('Accx24-3classes-300-samples.csv')
df.describe()

        0.732919
count  28.000000
mean    0.849062
std     0.066893
min     0.738686
25%     0.805073
50%     0.848016
75%     0.885740
max     0.974441

In [5]:
df = pd.read_csv('Accx24-3classes-400-samples.csv')
df.describe()

        0.811361
count  29.000000
mean    0.827607
std     0.086127
min     0.617127
25%     0.770226
50%     0.842105
75%     0.891186
max     0.954370

In [6]:
df = pd.read_csv('Accx24-3classes-500-samples.csv')
df.describe()

        0.678145
count  29.000000
mean    0.806779
std     0.134155
min     0.582421
25%     0.722009
50%     0.829611
75%     0.928654
max     0.978287

In [7]:
df = pd.read_csv('Acc32x32-3classes-100-samples.csv')
df.describe()

        0.591502
count  19.000000
mean    0.747983
std     0.087973
min     0.582085
25%     0.687431
50%     0.779118
75%     0.816542
max     0.865048

In [8]:
df = pd.read_csv('Acc32x32-3classes-200-samples.csv')
df.describe()

        0.933590
count  29.000000
mean    0.796781
std     0.107343
min     0.558356
25%     0.752696
50%     0.805828
75%     0.884075
max     0.942308

In [9]:
df = pd.read_csv('Acc32x32-3classes-300-samples.csv')
df.describe()

        0.786015
count  29.000000
mean    0.813136
std     0.113656
min     0.580257
25%     0.751336
50%     0.812819
75%     0.891923
max     0.982306

In [10]:
df = pd.read_csv('Acc32x32-3classes-400-samples.csv')
df.describe()

        0.752495
count  20.000000
mean    0.809210
std     0.116677
min     0.599883
25%     0.760682
50%     0.832309
75%     0.895965
max     0.948128

In [20]:
df = pd.read_csv('Acc32x32-3classes-500-samples.csv')
df.describe()

        0.813595
count  19.000000
mean    0.818550
std     0.109766
min     0.563329
25%     0.783494
50%     0.813412
75%     0.872563
max     0.978389

In [100]:
df = pd.read_csv('Acc32x8-3classes-500-samples.csv')
df.describe()

        0.802333
count  17.000000
mean    0.744000
std     0.049362
min     0.656667
25%     0.713000
50%     0.747000
75%     0.784000
max     0.823333

In [101]:
df = pd.read_csv('Acc32x8-3classes-600-samples.csv')
df.describe()

        0.753333
count  19.000000
mean    0.728351
std     0.064227
min     0.574000
25%     0.704834
50%     0.754333
75%     0.773000
max     0.796333

In [11]:
df = pd.read_csv('Acc-32x32-100-samples.csv')
df.describe()

FileNotFoundError: [Errno 2] File Acc-32x32-100-samples.csv does not exist: 'Acc-32x32-100-samples.csv'

In [ ]:
df = pd.read_csv('Acc-3classes-200-samples.csv')
df.describe()

In [ ]:
df = pd.read_csv('Acc-3classes-300-samples.csv')
df.describe()

In [ ]:
df = pd.read_csv('Acc-3classes-400-samples.csv')
df.describe()

In [ ]:
df = pd.read_csv('Acc-3classes-500-samples.csv')
df.describe()

In [ ]:
df = pd.read_csv('Acc-3classes-600-samples.csv')
df.describe()